: root {
  font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans,Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size:1.6em;
  line-height: 1.5;
  min-width: 600px;
  min-width: 900px;
}

h1{
  font-family: 'Playfair Display', serif;
  font-size: 35px;
  line-height: 1.5;
}

article.class{
   max-width: 75vw;
   max-width: 50vw;
}
