:root {
  font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans,Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size:1.6em;
  line-height: 1.5;
}

h1{
  font-family: 'Playfair Display', serif;
  font-size: 35px;
  line-height: 1.5;
}

@media only screen and
(min-width: 600px) {

  .chapter {
    max-width: 75vw;
  }
}

@media only screen and
(min-width: 900px) {

  .chapter {
    max-width: 50vw;
  }
}
